name: 'tag'
on:
  push:
    branches:
      - master
      - 'releases/*'
jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: christophebedard/tag-version-commit@v1
      with:
        token: ${{ secrets.TAG_CREATION_TOKEN }}
        version_assertion_command: 'python3 -c "import dco_check; assert dco_check.__version__ == \"$version\", \"git tag and dco_check version do not match\""'
